.vscode/*
cpp_/builds/*
cpp_/include/telemetry_generated.h
!cpp_/builds/.gitkeep
py_analytics/.venv
py_analytics/Anomaler/*
py_analytics/models_saved/*
!py_analytics/models/.gitkeep
test.*
vcpkg/packages/
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/installed/
vcpkg/.vcpkg-root
vcpkg/vcpkg
vcpkg/scripts/buildsystems/vcpkg.cmake.log
logs/*
Anomaler/
.DS_Store