.vscode/*
cpp_/builds/*
!cpp_/builds/.gitkeep
py_analytics/.venv
py_analytics/models/*
!py_analytics/models/.gitkeep
test.*
vcpkg/packages/
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/installed/
vcpkg/.vcpkg-root
vcpkg/vcpkg
vcpkg/scripts/buildsystems/vcpkg.cmake.log
.DS_Store